.banner-container {
  width: 100%;
  background-color: #f6f1f1;
  height: 400px;
}

.banner-container .slider-content1 {
  background-image: url("../../assets/Slide1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.banner-container .slider-content2 {
  background-image: url("../../assets/Slide2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-container .slider-content3 {
  background-image: url("../../assets/Slide3.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-container .slider-content4 {
  background-image: url("../../assets/Slide4.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-container .slider-content5 {
  background-image: url("../../assets/Slide5.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-container .slider-content6 {
  background-image: url("../../assets/Slide6.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.banner-container .slider-content7 {
  background-image: url("../../assets/Slide7.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.slider-text {
  height: 500px;
  display: flex;
  gap: 35px;
  line-height: 2;
  font-size: 22px;
  width: 40%;
  text-align: left;
  z-index: 1000;
  flex-flow: column;
  padding: 20px;
  justify-content: center;
  align-items: left;
}

.slider-text h2 {
  color: #f6f1f1;
  border: 1px solid #f6f1f1;
  width: 35%;
  font-size: 18px;
  text-align: center;
  padding: 0;
}

.slider-text h2:hover {
  color: #2d2727;
  background-color: #f6f1f1;
  transition: all 0.5s ease;
}
