.custom-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: column;
}

.custom-container .custom-banner{
    height: 350px;
    width: 100%;
}

.custom-container .custom-banner img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .custom-container .custom-banner{
        height: 200px;
        width: 100%;
    }
  }

