.custom-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-flow: column;
}

.category-banner {
  background-image: url("../../assets/Slide6.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #f6f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.custom-container .custom-banner{
    height: 350px;
    width: 100%;
}

.custom-container .custom-banner img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .custom-container .custom-banner{
        height: 200px;
        width: 100%;
    }
  }

