.authentication {
  height: 80vh;
  display: flex;
  align-items: center;
  background-image: url("../../assets/loginBackGround.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  justify-content: center;
}

.authentication-form {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #F6F1F1;
  color: black;
  max-width: max-content;
  margin-bottom: 20px;
  padding: 7px 15px;
  border-bottom-left-radius: 10px;
}

.primary-button {
  background-color: #F6F1F1; 
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

.primary-button:hover {
  background-color: #0056b3;
}

.anchor {
  display: inline-block;
  margin-top: 0.5rem;
  color: black;
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}
