.categories-map {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 16px;
    padding: 16px;
}

@media (min-width: 600px) {
    .categories-map {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .categories-map {
        grid-template-columns: repeat(4, 1fr); 
    }
}

.categories-container .categories-title{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}