@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.arrival-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}

.arrival {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shipping-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping {
  display: flex;
}

.shipping .shipping-card {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  margin: 20px;
  gap: 10px;
}

.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(228, 217, 255, 0.74);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #273469;
  z-index: 9999;
}

.spinner-grow{
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 900px) {
  .shipping {
    flex-flow: column;
    align-items: left;
    justify-content: center;
  }
}
