.color-options {
    display: flex;
    gap: 8px; /* Reduce gap for inline appearance */
    align-items: center; /* Align circles vertically in the center */
    margin-top: 5px;
  }
  
  .color-circle {
    width: 20px; /* Shrink the size of the color balls */
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: transform 0.2s ease, border-color 0.2s ease;
  }
  
  .color-circle:hover {
    transform: scale(1.1);
  }
  
  .color-circle.selected {
    border-color: #000;
    transform: scale(1.2);
  }
  
  .selected-color-text {
    margin-top: 5px;
    font-size: 12px;
    color: #555;
  }

  .color-text {
    cursor: pointer;
    padding: 0px 5px;
    /* margin: 3px; */
    border: 1px solid black;
    display: inline-block;
  }
  
  .color-text.selected {
    font-weight: bold;
    text-decoration: underline;
  }

  .size-span{
    margin: 10px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }
  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.guest-buying{
display: flex;
gap:1rem;
}