.swiper {
    width: 100%;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .desc-container{
    display: flex;
    margin-top: 10px;
  }

  .desc-container .desc-left{
    width: 50%;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }

  .desc-container .desc-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desc-right button{
    outline: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: white;
    width: 200px;
  }

  .desc-right button:hover{
    background-color: #F6F1F1;
    transition: all 0.2s ease-out ;
  }

  .desc-left .desc-content{
    width: 80%;
  }

  .desc-left p{
    border: 1px dotted black;
    border-radius: 10px;
    padding: 10px;
  }

  span{
    font-weight: 400;
  }

  @media screen and (max-width: 900px) {
    .desc-container{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .desc-container .desc-left{
        width: 100%;
    }

    .swiper-slide{
        height: 100%;
    }
}